.vscode
experiments/
data/personachat_self_original.json
dataset_cache*
runs/
ParlAI/
__pycache__
.env/
runs/
.DS_Store
gpt_personachat_cache_v2/
*dataset_cache*
cache/
*GPT2Tokenizer
afl_metrics_candidate/
afl_metrics_cola/
outputs/
data/situationchat_original(augmented).json

#data
data/situationchat_original.json
web.py
kakao.py
afl_test.py
sh/
data/translation_eng_kor_eos(fixed).xlsx
data/translation_eng_kor_eos.xlsx
data/translation_eng_kor(fixed).xlsx
data/situation_annotation.*
data/situation_translation.*
data/translation_eng_kor.xlsx
